<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <style>
      body {
        background: rgb(43, 43, 43);
        font-family: sans-serif;
      }
      .login-page {
        width: 400px;
        padding: 8% 0 0;
        margin: auto;
      }
      .form {
        background: #ffffff;
        margin: 0 auto 100px;
        padding: 45px;
      }
      .form input {
        font-family: sans-serif;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
      }
      .form button {
        font-family: sans-serif;
        outline: 0;
        background: #616161;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #ffffff;
        font-size: 14px;
      }
      .form button:hover {
        background: #353535;
      }
    </style>
  </head>

  <body>
    <div class="login-page">
      <div class="form">
        <p>Reset Password</p>
        <form
          class="login-form"
          action="http://localhost:3000/api/auth/reset-password?token=<%= token %>"
          method="POST"
        >
          <input
            type="password"
            id="new_password"
            name="new_password"
            placeholder="Masukkan Password Baru"
            required
          />
          <input
            type="password"
            id="confirm_new_password"
            name="confirm_new_password"
            placeholder="Masukkan Konfirmasi Password Baru"
            required
          />
          <button type="submit" value="Reset">Reset</button>
        </form>
      </div>
    </div>
  </body>
</html>
